.intro{
    width:45%;
    background-color: white;
    font-size: 20px;
    color:black;
    margin: right 2px;
    text-align: center;
    
}
.profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 50px;
    object-fit: cover;
    margin-left: 200px;
}
.int{
    width:45%;
    background-color: white;
    font-size: 20px;
    color:black;
    margin-left: 550px;
    text-align: center;
    margin-top: -90px;
}
.black{
    background-color: black;
    color:white;
    font-size: medium;
    cursor: pointer;
    border-radius: 10%;
    margin-left: 100px;
    padding:12px 25px;
    margin-bottom: 200px;
}
  
.white{
    background-color:white;
    color:black;
    font-size:medium;
    cursor:pointer;
    border-radius: 10%;
    margin-left: 700px;
    padding:12px 25px;
    margin-bottom: 200px;
}


.gray{
    background-color:rgb(207, 208, 208);
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    gap: 20px; 
    width:100%; 
    height:120vh; 
    padding:30px;
}
.date{
    color:white;
    font-size: smaller;
    text-align: center;
}
.skill {
    margin-left:80px;
    padding-top: 80px;
    font-size: large;
    line-height: 1.2;
   
    display: inline-block;
    border: 2px solid black;
    padding: 100px;

    width: 400px;
   
    border-radius: 30px;
    padding: 20px;
    padding-top:50px;
    
}

.nn{
    margin-left: 50px;
}
.mm{
    margin-left: 50px;
}
.pp{
    margin-left: 50px;
}
.kk{
    margin-left: 50px;
}
.gg{
    margin-left: 50px;
}
.java{
    margin-left: 50px;
}
.work{
    display: inline-block;
    border: 2px solid black;
    padding: 20px;

    width: 500px;
   
    border-radius: 30px;
    padding: 20px;
    padding-top:40px;

    margin-left:600px;
    margin-top:-560px;
}

.contact{
    background-color: rgb(32, 29, 29);
    width:100%;
    height: 60vh;
    color:white;
    display: inline-block;
    border:2px solid rgb(248, 248, 249);
    text-align: center;
    margin-top:50px;

}
.talk{
    text-align: center;
    margin-top: 40px;
}
.links{
    line-height: 1.5;
}
.first{
    width:100%;
    height:60vh;
}
